<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.4.6" targetFramework="net452" />
  <package id="VerifilerACCDB" version="1.1.0" targetFramework="net452" />
  <package id="VerifilerCore" version="1.1.0" targetFramework="net452" />
  <package id="VerifilerImage" version="1.1.0" targetFramework="net452" />
  <package id="VerifilerMSLegacy" version="1.1.0" targetFramework="net452" />
  <package id="VerifilerODF" version="1.1.0" targetFramework="net452" />
  <package id="VerifilerOpenXML" version="1.1.0" targetFramework="net452" />
  <package id="VerifilerPDF" version="1.1.0" targetFramework="net452" />
</packages>